body {
    margin: 10px;
    background-color: rgb(216, 238, 245);
}

h1 {
    font-size: 3em;
    margin-top: 1em;
}

img {
    border-radius: 4px;
    border: 5px solid rgb(240, 7, 7);
    padding: 5px;
    width: 30%;
    height: auto;
    /* opacity: 1; */
    /* float: right; */
    */
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a493c0;
    padding: 10px;
    font-size: 30px;
}

footer {
    display: block;
    margin: 10px 0 0 0;
    top: 0;
    left: 0;
    background-color: #807f83;
    padding: 10px;
    font-size: 30px;
}

nav>a {
    display: inline-block;
    margin: 0 15px 0 15px;
}

.banner {
    max-width: 100%;
}

main {
    display: block;
    padding-top: 3em;
}

article {
    padding: 2em;
}

table {
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    border-spacing: 5px;
    margin-left: 30px;
    font-size: 20px;
    line-height: 50px;
}